{% extends 'main.html' %}
{% load static %}

{% block content %}
	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Product Details Page</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">product-details</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Single Product Area =================-->
	<div class="product_image_area">
		<div class="container">
			<div class="row s_product_inner">
				<div class="col-lg-6">
						<div class="single-prd-item">
							<img style="height: 70%; width: 70%;" class="img-fluid" src="{{ mod.image.url}}" alt="">
						</div>
				
				</div>
				<div class="col-lg-5 offset-lg-1">
					<div class="s_product_text">
						<h3>{{ mod.title }}</h3>
						<h2><i class="fa fa-inr"></i></i>{{ mod.selling_price }}</h2>
						<ul class="list">
							<li><a class="active" href="#"><span>Category</span> :{{ mod.category}}</a></li>
							<li><a href="#"><span>Availibility</span> : {{ mod.available }}</a></li>
						</ul>
						<p>{{ mod.description}}</p>	
						<div class="card_area d-flex align-items-center">
							<a class="primary-btn" href="{% url 'addtocart' mod.id %}">Add to Cart</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================End Single Product Area =================-->

	<!--================Product Description Area =================-->
	<section class="product_description_area">
		<div class="container">
		</div>
	</section>
	<!--================End Product Description Area =================-->

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						{% for m in model %}
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{{ m.image.url }}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">{{ m.title}}</a>
									<div class="price">
										<h6><i class="fa fa-inr"></i></i>{{ m.selling_price}}</h6>
										<h6 class="l-through"><i class="fa fa-inr"></i></i>{{ m.marked_price}}</h6>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	{% endblock %}